<!-- <app-databinding></app-databinding> -->
<!-- <app-diretivas-estruturais></app-diretivas-estruturais> -->
<!-- <app-diretivas-atributos>
  <h1>Top</h1>
  <h3>Bottom</h3>
</app-diretivas-atributos> -->
<!-- <app-new-component></app-new-component> -->
<!-- <app-input [contador]="addValue"></app-input>
<button (click)="add()">Add</button> -->
<!-- <ng-template [ngIf]="getDados">
  <h1>{{ getDados.nome }}</h1>
  <h2>{{ getDados.idade }}</h2>
</ng-template> -->
<!-- <app-output (enviar)="setDados($event)"></app-output> -->
<app-food-add></app-food-add>
<app-food-list></app-food-list>
<router-outlet></router-outlet>
