<header>
  <nav>
    <ul>
      <li>
        <a
          [routerLink]="['/']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          >Início</a
        >
      </li>
      <li>
        <a
          [routerLink]="['sobre']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          >Sobre</a
        >
      </li>
      <li>
        <a
          [routerLink]="['erro']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          >Erro</a
        >
      </li>
      <li>
        <a
          [routerLink]="['parent']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          >Parent</a
        >
      </li>
      <li>
        <a
          [routerLink]="['dashboard']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          >Dashboard</a
        >
      </li>
    </ul>
  </nav>
</header>
